*{
    margin: 0px;
    padding: 0px;
}

a{
	text-decoration-color: blue;
	text-decoration: underline;
}

:root {
    --color-bg:#9399B8;
    --color-current:#6F77A0;
    --color-margin:#737998;
    --color-nav:#2B325B;
    --color-border:#16192E;
}

.center{
	text-align: center;
}

.hidden{
	display: none;
}

/*=========================================
NAVIGATION
=========================================*/

nav{
	justify-content: center;
	text-align: center;
	background-color: var(--color-nav);
	border: 3px var(--color-nav) solid;
	padding: 8px;
}
nav p{
	font-size: 60%;
}
nav a{
	text-decoration: blink;
	cursor: pointer;
	padding: 11px;
	padding-top: 12px;
	color: var(--color-bg);
	font-size:115%;
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	transition: background-color 0.5s, color 0.5s;
}
nav a:hover{
	background-color: var(--color-bg);
	color: var(--color-border);
}
#current{
	font-weight:bold;
	background-color: var(--color-current);
	color: var(--color-border);
}

/*=========================================
MAINPAGE
=========================================*/

body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.mainPage{
	display: flex;
	flex-direction: row;
	flex: 1;
	background-color: var(--color-bg);

}

.mainSection{
	background-color: var(--color-bg);
	flex: 1;
}

/*=========================================
CHAT
=========================================*/

.usernameInput{
	background-color: var(--color-nav);
	padding: 6px;
}
.chat{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--color-nav);
	width: 30%;
	min-width: 200px;
}
#chatHistory{
	background-color: var(--color-margin);
	border: 6px var(--color-nav) solid;
	justify-content: flex-end;
	flex-grow: 1;
	height: 70vh;
	overflow-y: auto;
	word-wrap: break-word;
}
.chatInput{
	background-color: var(--color-nav);
	padding: 6px;
}